* {
    box-sizing: border-box
}

body {
    background-color: #FB6B6B;
}

div.layout {
    height: 100%;
    min-height: 667px;
    width: 375px;
}

div.init {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

div.initText {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.initBtn {
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D70900;
}

div.qList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

div.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 375px;
    min-height: 70px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

div.footer .strong{
    font-weight: 700;
}

div.footer .footerText {
    width: 220px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

div.logotop {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-top: 45px;
    gap: 20px;
}

div.cards {
    gap: 25px;
    margin-bottom: 140px;    
}

div.questionIndex {
    width: 300px;
    height: 65px;
    margin-top: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

div.questionIndex ion-icon {
    width: 20px;
    min-height: 23px;
    height: 100%;
}

div.questionIndex ion-icon:hover {
    cursor: pointer;
}

div.questionAsked {
    width: 299px;
    min-height: 131px;
    height: 100%;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    margin-top: 25px;
}

div.questionAsked ion-icon {
    width: 30px;
    height: 20px;
    align-self: right; 
}

div.questionAsked ion-icon:hover {
    cursor: pointer;
}

div.questionAskedIcon {
    width: 260px;
    display: flex;
    justify-content: flex-end;
}

div .gotAnswer {
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gotAnswerBtn {
    width: 85px;
    height: 37.17px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gotAnswerBtn.wrong {
    background-color: #FF3030;
}

.gotAnswerBtn.almost {
    background-color: #FF922E;
}

.gotAnswerBtn.right {
    background-color: #2FBE34;
}

div .answersCount {
    background-color: #D70900;
    color: #FFFFD5;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

div .answeredQuestion {
    text-decoration: line-through;
}

div .answeredWrong {
    color: #FF3030;
}

div .answeredAlmost {
    color: #FF922E;
}

div .answeredRight {
    color: #2FBE34;
}
